
body {
  min-height: 400px;
  margin-bottom: 100px;
  clear: both;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

hr {
  width: 100%;
}

.section {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
}

.play {
  flex: 1;
  order: -1;
}

.section:before {
  content: "";
  align-self: stretch;
  border: 1px solid #D3D3D3;
}

@media (min-width: 700px) {
    .section {
        align-items: center;
        flex-direction: row;
    }
}

#instr {
  flex: 1;
  text-align: left;
  display: none;
}

.menubar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 16px;
  height: 65px;
  border-bottom: 1px solid #D3D3D3;
  border-top: 4px solid #9CAF88;
  width: 100%;
}

.title {
  font-family: 'Roboto', sans-serif, monospace;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  flex: 1;
  text-align: center;
  margin-left: 180px;
}

.opt:hover {
  background-color: #D3D3D3;
}

.opt{
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  float: right;
  height: 95px;
  width: 80px;
  justify-content: right;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
}

#board { 
  width: 290px;
  height: 290px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

.tile {
  /* Box */
  border: 2px solid lightgrey;
  width: 60px;
  height: 60px;
  margin: 1px;
  
  /* Text */
  font-size: 36px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.correct { 
  background-color: #6AAA64;
  color: white;
  border-color: white;
}

.present {
  background-color: #C9B458;
  color: white;
  border-color: white;
}

.absent {
  background-color: #787C7E;
  color: white;
  border-color: white;
}

#startOver {
  background-color: #9CAF88;
  color: white;
  font-size: 15px;
  border-radius: 5px;
  width: 125px;
  height: 40px;
  border-style: solid;
  position: relative;
  margin-top: 35px;
  margin-right: 25px;
}

.message {
  bottom: 3.1em;
  padding-top: 21px;
  padding-bottom: 21px;
  text-align: center;
  vertical-align: middle;
  font-size: small;
  position: fixed;
  width: 100%;
  background-color: none;
}

#message-lose{
  color: white;
}

.footer { 
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: grey;
  text-align: center;
  border-top: 1px solid #D3D3D3;
  font-size: small;
}

.dark{
  background-color: #222;
  color: white;
 }

.special-char{
  color: white;
}

#congrats {
  display: none;
  height : auto;
}

#message-hint {
  display: none;
}


